body {
	user-select: none;
	-moz-user-select: none;
}

.app {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #16a085;
}

.overlay {
	background-image: url('./Images/hero-bg.png');
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}

.note {
	text-align: center;
	width: 100%;
	font-size: 12px;
	color: white;
	bottom: 0;
	position: absolute;
	margin-bottom: 31px;
	letter-spacing: 0.7px;
}
canvas {
	margin-top: 36px;
	top: 0;
	position: absolute;
}

.mockup {
	margin-top: 60px;
	position: relative;
	display: grid;
	max-height: 100%;
	align-items: center;
	justify-content: center;
	max-width: 100%;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.browser {
	display: block;
	border-radius: 8px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	margin: 0 auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 10px 22px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

.browser {
	width: 100%;
	height: 441px;
}

.browserChrome {
	height: 12px;
	background: #e8e8e8;
	padding: 12px;
}

.browserActions {
	height: 12px;
	width: 12px;
	background: #ff5f56;
	box-shadow: 20px 0 0 #ffbd2e, 40px 0 0 #27c93f;
	border-radius: 50%;
}

#emoji {
	display: block;
	font-size: 80px;
	margin-bottom: 23px;
}

.text {
	margin-top: 30px;
	text-align: center;
	font-size: 19px;
	color: white;
	font-family: monospace;
}
